@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|VT323');

:root {
  --cambridge: #9BC1BC;
  --platinum: #E6EBE0;
  --teracotta: #ED6A5A;
  --solidpink: #823A32;
  --rackley: #568EA3;
}

body {
  background-color: #E6EBE0;
  font-family: 'Open Sans', sans-serif;
}

#username {
  height: 100px;
  max-width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#username input {
  border: 0;
  border-bottom: 2px solid var(--cambridge);
  width: 100%;
  font-size: 20px;
  line-height: 15px;
  height: 20px;
  text-align: center;
  padding: 10px;
  background: transparent;
  color: var(--solidpink);
}

#sidebar {
  position: absolute;
  width: 250px;
  margin-left: 12px;
  margin-top: 12px;
}

.title {
  margin: 1%;
  font-family: 'VT323', monospace;
  font-size: 30px;
  position: relative;
  color: var(--rackley);
}

.feature {
  margin: 1%;
  font-size: 15px;
  position: relative;
  font-family: 'VT323', monospace;
}

.header {
  text-align: center;
  margin-bottom: 6px;
}

#bargraph {
  height: 80vh;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: auto;
}

.bar {
  fill: var(--teracotta);
  margin: 12px;
}

.axis {
  font-size: 13px;
}

.axis path, .axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 12px;
  font-weight: 700;
}

/* Loading wheel. */
#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--rackley);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}